"HUMANITE SOUVERAINE":
  AUTRE: 100
"POUR UNE DEMOCRATIE REELLE : DECIDONS NOUS-MEMES !":
  AUTRE: 100
"LA FRANCE FIERE, MENEE PAR MARION MARECHAL ET SOUTENUE PAR ÉRIC ZEMMOUR":
  RN: 100
"LFI - UP":
  GAUCHE: 100
"La FRANCE REVIENT":
  RN: 100
"EUROPE ÉCOLOGIE":
  GAUCHE: 100
"FREE PALESTINE":
  AUTRE: 100
"PARTI ANIMALISTE":
  AUTRE: 100
"PARTI REVOLUTIONNAIRE COMMUNISTES":
  GAUCHE: 100
"PARTI PIRATE":
  AUTRE: 100
BESOIN D'EUROPE:
  MAJORITE: 100
"PACE":
  AUTRE: 100
"ÉQUINOXE":
  AUTRE: 100
"ECOLOGIE POSITIVE":
  AUTRE: 100
"LISTE ASSELINEAU-FREXIT":
  RN: 100
"PAIX ET DECROISSANCE":
  AUTRE: 100
"POUR UNE AUTRE EUROPE":
  AUTRE: 100
"LA DROITE POUR FAIRE ENTENDRE LA VOIX DE LA FRANCE EN EUROPE":
  DROITE: 100
"LUTTE OUVRIERE":
  AUTRE: 100
"CHANGER L'EUROPE":
  AUTRE: 100
"NLP":
  AUTRE: 100
"URGENCE REVOLUTION !":
  AUTRE: 100
"PPL":
  AUTRE: 100
"L'EUROPE CA SUFFIT !":
  RN: 100
"PRENONS-NOUS EN MAIN":
  AUTRE: 100
"FORTERESSE EUROPE":
  AUTRE: 100
"REVEIL EUR":
  GAUCHE: 100
"NON À L'UE ET À L'OTAN, COMMUNISTES POUR LA PAIX ET LE PROGRÈS SOCIAL":
  AUTRE: 100
"AR":
  AUTRE: 100
"FRANCE LIBRE":
  AUTRE: 100
"EUROPE TERRITOIRES ÉCOLOGIE":
  AUTRE: 100
"LA RUCHE CITOYENNE":
  AUTRE: 100
"GAUCHE UNIE":
  GAUCHE: 100
"DEFENDRE LES ENFANTS":
  AUTRE: 100
"EAC":
  AUTRE: 100
"DEMOCRATIE REPRESENTATIVE":
  AUTRE: 100
"ESPERANTO":
  AUTRE: 100
"LIBERTÉ DÉMOCRATIQUE FRANÇAISE":
  AUTRE: 100
